/* 1280px+ Width Styles */
body div.content {
  position: static;
  overflow: visible;
  width: 100%;
}
div.page-bottom {
  z-index: 200;
  display: block;
  width: 100%;
}
section.m1,
section.kingston{
  padding:0 5% 0 5%;
}
section.m1 div.details-container {
  position:absolute;
  top:25%;
  width: 100%;
  min-height: 25em;
  max-width: 1000px;
  margin-left: 15%;
  margin-right:15%;
  background-size: inherit;
  background-position: -660px -118px;
}
section.m1 .tmu-blurb{
  left: 55%;
  top: -20%;
}
section.m1 .tmu-blurb-loud1{
  left: 80%;
  top: -30%;
}
section.m1 .tmu-blurb-loud2 {
  left: 50%;
  top: -35%;
}
section.kingston{
  margin-top: 3.35em;
}
section.kingston div.details-container{
  position:absolute;
  max-width: 68em;
  min-height:33.25em;
  left: 0;
  top: 25%;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  background-size: inherit;
  background-position: -614px -543px;
}
section.m1 div.details-container .pulsate {
left: 16.4em;
top: 14.3em;
}
section.kingston div.details-container .pulsate{
  top: 10.3em;
  left: 28em;
}
section.kingston .tmu-blurb{
  left: 20%;
  top: -5%;
  position: absolute;
}
footer .footer-wrapper{
  max-width: 68.8em;
  width: 60em;
  padding-left: 20em;
  padding-right: 20em;
}
footer section#buy-content{
  float: right;
  display: inline-block;
  margin:0 0 0 0;
  margin: 0.625em 10em 0 0;
}
footer section#tina-box-current,
footer section#kingston-box-current{
  margin-left: 10em;
}
@media screen and (max-height: 900px) {
  section.m1 div.details-container {
    position:absolute;
    top:20%;
    width: 100%;
    min-height: 25em;
    max-width: 1000px;
    margin-left: 15%;
    margin-right:15%;
    background-size: inherit;
    background-position: -660px -118px;
  }
  section.m1 .tmu-blurb-loud2 {
    left: 50%;
    top: -30%;
  }
  section.kingston div.details-container{
    position:absolute;
    max-width: 68em;
    min-height:33.25em;
    left: 0;
    top: 15%;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background-size: inherit;
    background-position: -614px -543px;
  }
}
@media screen and (min-height: 1200px){
  section.m1 div.details-container {
    position:absolute;
    top:30%;
    width: 100%;
    min-height: 25em;
    max-width: 1000px;
    margin-left: 20%;
    margin-right:20%;
    background-size: inherit;
    background-position: -660px -118px;
  }
}